#sidebar {
    float: left;
    width: 200px;
    position: fixed;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar li:hover {
    color: #696969;
}

#blogPosts {
    float: right;
    width: calc(90% - 150px);
}

.blogPost a {
    color: #2c6fbb;
}

@media only screen and (max-width: 1024px) {
    #sidebar {
        display: none;
    }

    #blogPosts {
        width: 100%;
    }
}