.column {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 30px;

    color: black;
    text-align: center;
}

.column:hover {
    color: #696969;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}